@font-face {
    font-family: CormorantSC-Regular;
    src: url(../fonts/Cormorant_SC/CormorantSC-Regular.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: MeriendaOne-Regular;
    src: url(../fonts/Merienda_One/MeriendaOne-Regular.ttf);
}

body {
    background-color: #d2d9c5;
}

.landing-title {
    font-family: MeriendaOne-Regular, serif;
    font-size: 40px;
}

.landing-image {
    display: none;
}
