<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/nanogallery2.min.css">

    <title>{{ site.title }}/{{ page.title }}</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 fixed-top mt-5">
                <div class="float-left inner-title">
                    <a href="../">
                        < back
                    </a>
                </div> 
                <div class="float-right inner-title">
                    {{ page.title }}
                </div>
            </div>
        </div>

        <div class="header-spacing"> </div>

        <div class="row">
            <div class="col-12">
                <div ID="ngy2p" data-nanogallery2='{
                        "viewerToolbar": {
                            "standard":  "",
                            "minimized": "" 
                        },
                        "viewerTools": {
                            "topLeft":   "pageCounter",
                            "topRight":  "closeButton"
                        },
                        "thumbnailWidth": "auto",
                        "thumbnailBorderVertical": 0,
                        "thumbnailBorderHorizontal": 0,
                        "colorScheme": {
                          "thumbnail": {
                            "background": "rgba(255,255,255,0)"
                          }
                        },
                        "thumbnailDisplayTransitionDuration": 1000,
                        "thumbnailDisplayInterval": 250,
                        "thumbnailLabel": {
                          "display": false
                        },
                        "thumbnailHoverEffect2": "scale120",
                        "thumbnailAlignment": "center",
                        "thumbnailGutterWidth": 100,
                        "thumbnailGutterHeight": 100,
                        "gallerySorting": "titleasc",
                        "displayBreadcrumb": false,
                        "breadcrumbAutoHideTopLevel": false,
                        "breadcrumbOnlyCurrentLevel": false
                      }'>

                    <!-- generate all photos -->
                    {% for url in page.photos %}
                    <a href="/assets/albums/{{ page.title }}/{{ url }}" data-ngthumb="/assets/albums/{{ page.title }}/{{ url }}" data-ngdesc=""></a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- gallery lib -->
    <script src="/assets/js/jquery.nanogallery2.min.js"></script>

</body>

</html>